doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(rel="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(rel="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    title= `${title || 'Poll-Up'}`
    link(rel="stylesheet", href="/css/style.css")
    script(rel="text/javascript", src="/js/scripts.js")
    block scripts
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

  body
    block header
      header
        //- Navbar
        nav.navbar.navbar-inverse
          .container
            //- Brand and toggle grouping
            .navbar-header
              button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#navbar-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="/") Poll-Up
            //- Collect nav links
            #navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li(class=(currentPath.startsWith('/all') ? 'active' : ''))
                  a(href="/all") All Polls
                if user
                  li(class=(currentPath.startsWith('/new') ? 'active' : '' ))
                    a(href="/new") New Poll
              ul.nav.navbar-nav.navbar-right
                if user
                  li
                    p.navbar-text Hello, 
                      a(href=`/user/${user.name}/`) #{user.name}
                  li
                    a(href="/logout") Logout
                else
                  li(class=(currentPath.startsWith('/register') ? 'active' : '')) 
                    a(href="/register") Register
                  li(class=(currentPath.startsWith('/login') ? 'active' : ''))
                    a(href="/login") Login
    block messages
      if flashes
        .container
          - const categories = Object.keys(flashes);
          each category in categories
            each message in flashes[category]
              .alert(class=`alert alert-${category} alert-dismissible` role="alert")
                button.close(type="button" data-dismiss="alert") &times;
                p!= message

    .container
      block content
        .jumbotron
          h2 Welcome to Poll-Up!
          p A minimalist responsive polling app.
          if user
            p
              a.btn.btn-primary(href="/all") View all polls
              span 
              a.btn.btn-success(href="/new") Create a poll
          else
            p
              a.btn.btn-success(href="/register") Register
              span 
              a.btn.btn-primary(href="/login") Login
        footer.footer
          p(style="margin-bottom: 0;") Made by Aos
          a(href="https://twitter.com/onlyone_Aos"): <i style="font-size: 20px;" class="fa fa-twitter"></i>
          a.github(href="https://github.com/aosdab"): <i style="font-size: 20px;" class="fa fa-github"></i>