extends layout

block content
  .container.result-container
    h3 Hello #{user.name}!
    hr
    if polls.length === 0
      p There are no polls!
    else
      h5 Your polls: 
      table.table.table-hover.table-condensed
        tbody
          each poll in polls
            - let date = moment(poll.date).fromNow()
            tr
              td(style='color: #337ab7'): a(href=`/poll/${poll._id}`) #{poll.question}
              td Posted: #{date}
              td: a.btn.btn-xs.btn-danger(href=`/poll/${poll._id}/delete`): b X
              //-.clickable-row(data-href=`/poll/${poll._id}`)